.sidebar {
  width: 220px;
  height: 100vh;
  background: #1e293b;
  color: white;
  transition: 0.3s;
  padding: 10px;
}

.sidebar.collapsed {
  width: 70px;
}

.nav-link {
  color: white;
  display: flex;
  align-items: center;
  gap: 10px;
}

.nav-link:hover {
  background: #334155;
  border-radius: 8px;
}

.toggle-btn {
  background: none;
  border: none;
  color: white;
  font-size: 22px;
}