<div class="sidebar" [class.collapsed]="isCollapsed">

  <button class="toggle-btn" (click)="toggleSidebar()">
    <i class="bi bi-list"></i>
  </button>

  <ul class="nav flex-column mt-4">

    <li class="nav-item">
      <a routerLink="/dashboard" class="nav-link">
        <i class="bi bi-speedometer2"></i>
        <span *ngIf="!isCollapsed">Dashboard</span>
      </a>
    </li>

    <li class="nav-item">
      <a routerLink="/schedule-pickup" class="nav-link">
        <i class="bi bi-calendar-check"></i>
        <span *ngIf="!isCollapsed">Schedule</span>
      </a>
    </li>

    <li class="nav-item">
      <a routerLink="/profile" class="nav-link">
        <i class="bi bi-person"></i>
        <span *ngIf="!isCollapsed">Profile</span>
      </a>
    </li>

  </ul>
</div>